# Importing Libraries

In [25]:
# Import the NumPy library and alias it as 'np'
import numpy as np

# Import the Pandas library and alias it as 'pd'
import pandas as pd

# Importing Dataset

In [26]:
# Read data from a CSV file named 'customer.csv' and store it in a Pandas DataFrame called 'df'
df = pd.read_csv('customer.csv')

In [27]:
# Display the first few rows of the DataFrame 'df' to inspect the data
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

# Data Preprocessing

In [28]:
# Extracting features (X) and target variable (y) from the DataFrame 'df'.

# Extracting the first four columns of 'df' to create the feature matrix 'X'.
X = df.iloc[:, 0:4]

# Extracting the fifth/last column of 'df' to create the target variable 'y'.
y = df.iloc[:, 4]

In [29]:
# Displaying the feature matrix 'X' which contains input values
X

    age  gender   review education
0    30  Female  Average    School
1    68  Female     Poor        UG
2    70  Female     Good        PG
3    72  Female     Good        PG
4    16  Female  Average        UG
5    31  Female  Average    School
6    18    Male     Good    School
7    60  Female     Poor    School
8    65  Female  Average        UG
9    74    Male     Good        UG
10   98  Female     Good        UG
11   74    Male     Good        UG
12   51    Male     Poor    School
13   57  Female  Average    School
14   15    Male     Poor        PG
15   75    Male     Poor        UG
16   59    Male     Poor        UG
17   22  Female     Poor        UG
18   19    Male     Good    School
19   97    Male     Poor        PG
20   57  Female  Average    School
21   32    Male  Average        PG
22   18  Female     Poor        PG
23   96  Female     Good    School
24   16  Female  Average        PG
25   57  Female     Good    School
26   53  Female     Poor        PG
27   69  Female     Poor        PG
28   48    Male     Poor    School
29   83  Female  Average        UG
30   73    Male  Average        UG
31   22  Female     Poor    School
32   92    Male  Average        UG
33   89  Female     Good        PG
34   86    Male  Average    School
35   74    Male     Poor    School
36   34  Female     Good        UG
37   94    Male  Average        PG
38   45  Female     Good    School
39   76    Male     Poor        PG
40   39    Male     Good    School
41   23    Male     Good        PG
42   30  Female     Good        PG
43   27    Male     Poor        PG
44   77  Female  Average        UG
45   61    Male     Poor        PG
46   64  Female     Poor        PG
47   38  Female     Good        PG
48   39  Female     Good        UG
49   25  Female     Good        UG

In [30]:
# Displaying the target variable 'y' which contains output values
y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object

# Label Encoding

In [31]:
# Import the LabelEncoder class from scikit-learn's preprocessing module
from sklearn.preprocessing import LabelEncoder

In [32]:
# Create an instance of the LabelEncoder class
le = LabelEncoder()

In [33]:
# Fit the LabelEncoder to the target variable 'y' and transform 'y' into numerical labels
y = le.fit_transform(y)

In [34]:
# Displaying the target variable 'y' which contains encoded output values
y

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])

In [35]:
# Access the 'classes_' attribute to retrieve the original categorical labels
# This attribute contains the unique categories mapped to numerical labels
encoded_classes = le.classes_

array(['No', 'Yes'], dtype=object)